In [41]:
with open("okay.txt", "a")as file:
    file.write("welcome here.\n")
with open("okay.txt","r") as file:
    content = file.read()
    print(content)

welcome here.
welcome here.
welcome here.
welcome here.
welcome here.
welcome here.
welcome here.

In [42]:
import pandas as pd
df = pd.read_csv('Sales.csv')
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     8 non-null      object
 3   Product        8 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 580.0+ bytes
   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
6          250.0
7         -420.0

In [43]:
df['Order Date'] = df['Order Date'].astype(str)
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     6 non-null      datetime64[ns]
 3   Product        8 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 580.0+ bytes
   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe 2024-01-01  Widget A      10.0        25.0
1      1002     Jane Smith 2024-01-02  Widget B       5.0        40.0
2      1003            NaN        NaT  Widget A       NaN        25.0
3      1004  Alice Johnson 2024-04-01  Widget C       3.0         NaN
4      1005      Bob Brown        NaT  Widget B      10.0        40.0
5      1006       John Doe 2024-06-01  Widget A       4.0        25.0
6      1001       John Doe 2024-01-01  Widget A      10.0        25.0
7      1007     Jane Smith 2024-07-01  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
6          250.0
7         -420.0

In [44]:
df['Quantity'] = df['Quantity'].astype(float)
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     6 non-null      datetime64[ns]
 3   Product        8 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 580.0+ bytes
   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe 2024-01-01  Widget A      10.0        25.0
1      1002     Jane Smith 2024-01-02  Widget B       5.0        40.0
2      1003            NaN        NaT  Widget A       NaN        25.0
3      1004  Alice Johnson 2024-04-01  Widget C       3.0         NaN
4      1005      Bob Brown        NaT  Widget B      10.0        40.0
5      1006       John Doe 2024-06-01  Widget A       4.0        25.0
6      1001       John Doe 2024-01-01  Widget A      10.0        25.0
7      1007     Jane Smith 2024-07-01  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
6          250.0
7         -420.0

In [45]:
x = df.drop(index=7)
print(x)

   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe 2024-01-01  Widget A      10.0        25.0
1      1002     Jane Smith 2024-01-02  Widget B       5.0        40.0
2      1003            NaN        NaT  Widget A       NaN        25.0
3      1004  Alice Johnson 2024-04-01  Widget C       3.0         NaN
4      1005      Bob Brown        NaT  Widget B      10.0        40.0
5      1006       John Doe 2024-06-01  Widget A       4.0        25.0
6      1001       John Doe 2024-01-01  Widget A      10.0        25.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
6          250.0

In [ ]:
#checking for empty cells
#print(df.isnull().sum())

In [ ]:
#checking for wrong formats

In [ ]:
#checking for non numeric values

In [46]:
df.dropna(axis=0, inplace=True)
print(df)

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0
6      1001      John Doe 2024-01-01  Widget A      10.0        25.0
7      1007    Jane Smith 2024-07-01  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
5          100.0
6          250.0
7         -420.0

In [47]:
df = df.drop_duplicates()
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       4 non-null      int64
 1   Customer Name  4 non-null      object
 2   Order Date     4 non-null      datetime64[ns]
 3   Product        4 non-null      object
 4   Quantity       4 non-null      float64
 5   Unit Price     4 non-null      float64
 6   Total Revenue  4 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 256.0+ bytes
   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0
7      1007    Jane Smith 2024-07-01  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
5          100.0
7         -420.0